.filter-panel {
  margin: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424242;

  &__genre {
  }

  &__btn {
    margin-right: 2rem;
    padding: 20px 0;
    border: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: 0.4s;

    &:hover {
      border-bottom-color: #f65261;
      cursor: pointer;
    }
  }

  &__sort {
    label {
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      opacity: 0.6;
      color: #fff;
      padding-right: 10px;
    }

    select {
      border: none;
      background-color: transparent;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #fff;

      option {
        color: #424242;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
