.login {
  &-container {
    background-image: url('../../assets/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-form {
    padding: 63px 84px;
    display: flex;
    flex-direction: column;
    background-color: #232323;
  }

  &-title {
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &-footer {
    position: absolute;
    bottom: 2em;
  }
}
